/**Adjacent Sibling*/
/* h2 + p {
    color: red;
} */

/**General sibling*/
/* h2 ~ p {
    color: red;
} */

/**Child*/ /*inherits to direct child*/
/* div > p {
    color: red;
} */

/**Descendant*/ /**Child*/ /*inherits to every tag inside*/
div p {
    color: red;
}